<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>Book Apps</title>
  </head>
  <body>
    <section class="py-10">
      <h1 class="text-center text-4xl">{{ book.title }}</h1>
      <div class="flex justify-center">
        <img src="{{ book.thumbnailUrl }}" alt="" width="200" />
      </div>
      <p>{{ book.pageCount }}</p>
      <p>{{ book.shortDescription }}</p>
      <p>{{ book.longDescription }}</p>
      <br />
      <form action="{% url 'book.review' book.id %}" method="post">
        {% csrf_token %}
        <textarea
          name="review"
          class="border rounded p-2 w-full"
          id=""
          cols="30"
          rows="10"
        ></textarea>
        <button
          type="submit"
          class="fload-right border rounded p-2 bg-gray-800 text-white"
        >
          Submit
        </button>
      </form>
      <br />
      {% for review in reviews %}
      <p>
        {{ review.body }} <small>{{ review.created_at|timesince }} ago</small>
      </p>
      {% endfor %}
    </section>
  </body>
</html>
